@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Index";
}

<h4 class="text-center">Administracion de usuarios</h4>
<br />  
@using (Html.BeginForm())
{

    <div class="form-group">
        <div class="control-label col-md-2">Usuario</div>
        <div class="col-6">
            <input type="text" name="usuario" id="usuario" class="form-control" />
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="Buscar" class="btn btn-success" />
        </div>
    </div>
}



<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                id
            </th>
            <th>
                Usuario
            </th>
            <th>
                email
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="col-sm-1">

                    <div>
                        <button class="btn btn-secondary text-white" value="Editar">
                            <a asp-action="EditarUsuario" asp-route-id="@item.Id" class="text-white"><i class="far fa-edit"></i></a>
                        </button>
                    </div>
                    <br />
                    <div>
                        <form asp-action="BorrarUsuario" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger" value="Borrar">
                                <a asp-action="DarBaja" asp-route-id="@item.Id" class="text-white"> <i class="far fa-trash-alt"></i></a>
                            </button>
                        </form>
                    </div>




                    @*<button class="btn btn-dark text-white" value="Editar">
                    <a asp-action="EditarUsuario" asp-route-id="@item.Id" class="text-white">Editar</a>
                </button>
                <form asp-action="BorrarUsuario" asp-route-id="@item.Id">
                    <input type="submit" value="Borrar" class="btn btn-danger" />
                </form>*@

                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>

                @item.UserName
            </td>
            <td>
                @item.Email
            </td>


        </tr>
        }
    </tbody>
</table>


