@model IEnumerable<ProcesoTareas.Models.Prioridad>

@{
    ViewData["Title"] = "Prioridad";
}

<h2>Prioridad</h2>

<p>
    <button class="btn btn-outline-primary text-white" value="Editar">
        <a asp-action="Create">Nuevo</a>
    </button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td>
                <button class="btn btn-secondary text-white" value="Editar">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-white">Editar</a>
                </button>

                <form asp-action="DarBaja" asp-route-id="@item.Id">
                    <input type="submit" value="DarBaja" class="btn btn-dark" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
