@model LoginViewModelo



@{
    Layout = null;

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="/bundles/bootstrap"></script>
    <title>Index</title>

    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>
<body>
    <div id="login-div" class="form-control">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Email"></label>
            <div class="form-group">

                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="Password"></label>
            <div class="form-group">

                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Recuerdame">
                        <input asp-for="Recuerdame" />
                        @Html.DisplayNameFor(m => m.Recuerdame)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

    </div>
       
        <script src="/Scripts/jquery-3.4.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/js/Login.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="sweetalert2.all.min.js"></script>
</body>
</html>




@*<div class="row">
    <div class="col-md-6">
        <h1>Login de usuario</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Recuerdame">
                        <input asp-for="Recuerdame" />
                        @Html.DisplayNameFor(m => m.Recuerdame)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>*@

@*<div class="col-md-6">
                <h1>Login externo</h1>
                <hr />
                @{
                    if (Model.LoginExternos.Count == 0)
                    {
                        <div>No hay logins externos configurados</div>
                    }
                    else
                    {
                        <form method="post" asp-action="LoginExterno" asp-route-returnUrl="@Model.UrlRetorno">
                            <div>
                                @foreach (var provider in Model.LoginExternos)
                                {
                                    <button type="submit" class="btn btn-primary" style="width:auto"
                                            name="proveedor" value="@provider.Name"
                                            title="Logar usando @provider.DisplayName cuenta">
                                        @provider.DisplayName
                                    </button>
                                }
                            </div>
                        </form>
                    }
                }

            </div>
            <div>
                <a asp-action="OlvidoPassword">¿Olvido la Password?</a>
            </div>
    </div>*@
