@model IEnumerable<ProcesoTareas.Models.ViewModelEstados.Modificacion>

@{
    ViewData["Title"] = "Modificacion";
    Layout = "_Layout";

    List<SelectListItem> listaPrioridad = (List<SelectListItem>)ViewBag.itemsPrioridad;

    List<SelectListItem> listaTipoTarea = (List<SelectListItem>)ViewBag.itemsTipoT;



}

@*<h2>Modificar Tarea</h2>*@

@using (Html.BeginForm())
{

<div class="card-border-success">

    <div class="card-footer">
        <h5> </h5>
    </div>

    <div class="control-label col-md-2">prioridad</div>
    <div class="col-3">
        @Html.DropDownList("prioridad", listaPrioridad as IEnumerable<SelectListItem>, "Seleccione un prioridad..", new { id = "normalDropwn2", @class = "form-control" })
        <span class="text-danger"></span>
    </div>
</div>
    <div class="form-group">
        <div class="control-label col-md-2">Tipo de tarea</div>
        <div class="col-3">
            @Html.DropDownList("tipoTarea", listaTipoTarea as IEnumerable<SelectListItem>, "Seleccione un prioridad..", new { id = "normalDropwn2", @class = "form-control" })
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="Buscar" class="btn btn-success" />
        </div>
    </div>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tipo de Tarea
            </th>
            <th>
                Observación
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Fecha Alta
            </th>
            <th>
                Vencimiento
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @*white-space: normal;*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>

                    @item.Nombre
                </td>
                <td>
                    @item.TipoTarea
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @item.Prioridad
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>

                <td>
                    <div class="col-sm-2">
                        <div>
                            <button class="btn btn-dark text-white" value="Editar">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-white"><i class="far fa-edit"></i></a>
                            </button>
                        </div>
                        <br />
                        <div>
                            <form asp-action="DarBaja" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger" value="DarBaja">
                                    <a asp-action="DarBaja" asp-route-id="@item.Id" class="text-white"> <i class="far fa-trash-alt"></i></a>
                                </button>
                                @*<input type="submit" value="DarBaja" class="btn btn-danger" />*@
                            </form>
                        </div>



                        @*<form asp-action="Delete" asp-route-id="@item.Id">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>*@
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

