@model IEnumerable<ProcesoTareas.Models.ViewModelEstados.Pendiente>

@{
    ViewData["Title"] = "Pendientes";
    Layout = "_Layout";
}


@*<script>

    //$('.formulario-eliminar').submit(function(e){
    //    e.preventDefault();

    //    Swal.fire({
    //                title: 'Estas seguro?',
    //                text: "No podras revertir esto!",
    //                icon: 'warning',
    //                showCancelButton: true,
    //                confirmButtonColor: '#3085d6',
    //                cancelButtonColor: '#d33',
    //                confirmButtonText: 'Si,borralo!'
    //            }).then((result) => {
    //                if (result.isConfirmed) {
    //                    Swal.fire(
    //                        'Eliminado!',
    //                        'Su archivo ha sido eliminado.',
    //                        'success'
    //                    )
    //                }
    //            });

    //});


    //$(document).ready(function () {

    //    $('#btnRealizado').click(function () {

    //        if (true) {
    //            Swal.fire({
    //                title: 'Estas seguro?',
    //                text: "No podras revertir esto!",
    //                icon: 'warning',
    //                showCancelButton: true,
    //                confirmButtonColor: '#3085d6',
    //                cancelButtonColor: '#d33',
    //                confirmButtonText: 'Si,borralo!'
    //            }).then((result) => {
    //                if (result.isConfirmed) {
    //                    Swal.fire(
    //                        'Eliminado!',
    //                        'Su archivo ha sido eliminado.',
    //                        'success'
    //                    )
    //                }
    //            });
    //        }


    //    });

    //});
    function validoComfirmacion() {


        Swal.fire({
            title: 'Estas seguro?',
            text: "No podras revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si,borralo!'
        }).then((result) => {
            if (result.value) {
                this.name;
                //Swal.fire(
                //    'Eliminado!',
                //    'Su archivo ha sido eliminado.',
                //    'success'
                //)
               // this.isConfirmed = true;
            }
        });
       

    }

</script>*@











<div class="card-border-success">
    <div class="card-footer">
        <h4 class="text-center">Pendientes</h4>
    </div>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tipo de Tarea
            </th>
            <th>
                Observación
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Fecha Alta
            </th>
            <th>
                Vencimiento
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="col-sm-1">
                    <div>
                        <button class="btn btn-success" value="Realizado" id="btnRealizado">
                            <a asp-action="Realizado" asp-route-id="@item.Id" class="text-white"><i class="far fa-check-circle"></i></a>
                        </button>
                    </div>
                    <br />
                    <form asp-action="Rechazado" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger" value="DarBaja">
                            <a asp-action="Rechazado" asp-route-id="@item.Id" class="text-white"> <i class="far fa-trash-alt"></i></a>
                        </button>
                    </form>


                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>

                @item.Nombre
            </td>
            <td>
                @item.TipoTarea
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @item.Prioridad
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>


        </tr>
        }
    </tbody>
</table>

