@model IEnumerable<ProcesoTareas.Models.ViewModelEstados.Pendiente>

@{
    ViewData["Title"] = "Pendientes";
    Layout = "_Layout";
}

<h2>Pendientes</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tipo de Tarea
            </th>
            <th>
                Observación
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Fecha Alta
            </th>
            <th>
                Vencimiento
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>

                    @item.Nombre
                </td>
                <td>
                    @item.TipoTarea
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @item.Prioridad
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>

                <td>
                    <div class="col-sm-1">

                        <form asp-action="Realizado" asp-route-id="@item.Id">
                            <input type="submit" value="Realizado" class="btn btn-dark" />
                        </form>                    
                        <form asp-action="Rechazado" asp-route-id="@item.Id">
                            <input type="submit" value="Rechazar" class="btn btn-danger" />
                        </form>


                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

